* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9b3b3;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #444;
}

table,
th,
td {
    text-align: center;
    height: 40px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #0c0c0c;
    border-collapse: collapse;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #bfd5f4;
    color: rgb(23, 22, 22);
    font-size: larger;
    border: none;
    cursor: pointer;
}